 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&display=swap');

:root{
    --bg-main:#E4EFFF;
    --bg-card:#F0F6FF;
    --primary:#247CFF;
    --text-dark:#001F4D;
    --text-blue:#003480;
    --placeholder:#8FB6EF;
    --error:#FF4C5E;
    --border:#EDEDED;

    --radius-sm:10px;
    --radius-md:15px;
    --radius-lg:20px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     
}

body{
    
    font-family:'Cairo',sans-serif;
    background: var(--bg-main);
    direction: rtl;
    overflow-x: hidden;
}

.logo {
    max-width:446px ;
    width:100%;
    height: 246px;
    margin:16px auto 0px auto;
    
}

.logo img{
    width: 100%;
    height: 100%;
}

.conteaner{
    width:100%;
    max-width: 1380px ;
    height: 918px;
    background: var(--bg-card);
    border-radius: var(--radius-lg);
    margin: 0px auto;
}

.conteaner-login{

    width:100%;
    max-width: 1380px;
    height:  737px;
    background: var(--bg-card);
    border-radius: var(--radius-lg);
    margin: 0px auto;
}

.card{
    max-width:478px;
    width:100%;
    height: 152px;
    margin: 0px auto;
     
}

.card h2{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing:0.3px;
    color: var(--text-dark);
    line-height: 200%;
}

.card p{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 200%;
    color: var(--text-blue);
}

.register{
    max-width: 1330px;
    width:100%;
    height: 100px;
    margin: 0px auto;
    border-radius: 15px;
    background: var(--bg-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.register .l,
.register .r{
    width: 650px;
    height: 75px;
    border-radius: 10px;
    text-align: center;
    margin: 0 12px;
}

.register .active{
    background: #B2D2FF;
    box-shadow: 1px 1px 7px #9BC2FD78;
}

.register a{
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 200%;
    color: #0049B2;
}

.form{
    max-width:987px;
    width:100%;
    height: 435px;
    margin: 25px auto 0 auto;
}

.form .form-1{
    max-width:987px;
    width:100%;
    height: 75px;
    margin-top: 15px ;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-1 label{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.3px;
    line-height: 200%;
    color: var(--text-dark);
}

.form-1 input{
    max-width: 700px;
    width:100%;
    height: 75px;
    border-radius: 15px;
    border: 1px solid var(--border);
    padding: 17px 20px 17px 20px;
    gap: 10px;
    background: var(--bg-main);
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.3px;
    line-height: 200%;
}

input::placeholder{
    color: var(--placeholder);
}

.form-login{
    max-width:987px;
    width:100%;
    height: 200px;
    margin: 117px auto 0px auto;
     
}

.form-login .form-l{
    max-width:987px;
    width:100%;
    height: 75px;
    margin-top: 15px ;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.form-l label{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.3px;
    line-height: 200%;
    color: var(--text-dark);
}

.form-l input{
    max-width: 700px;
    width:100%;
    height: 75px;
    border-radius: 15px;
    border: 1px solid var(--border);
    padding: 17px 20px 17px 20px;
    gap: 10px;
    background: var(--bg-main);
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.3px;
    line-height: 200%;
}

.form-login .form-2{
    margin-top: 60px;
}

.button{
    max-width: 400px;
    width: 100%;
    height: 75px;
    margin: 20px auto 0px auto;
    background: var(--primary);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.button a{
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
     
}

.error{
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 200%;
    color: var(--error);
}

.error-input{
border:2px solid var(--error) !important;
}

/* responsave register*/
@media(max-width:412px){
    .logo{
        max-width: 166px;
        width:100%;
        height: 91px ;
        margin:44px auto 0px auto;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    .conteaner{
        max-width:362px;
        width:100%;
        height: 988px;
        background: var(--bg-card);
        border-radius: 20px;
        margin: 30px auto;

    }
    .card{
        max-width: 270px;
        width:100%;
        height: 100px;
        margin: 0px auto;
    }

    .card h2{
        text-align: center;
        font-weight: 800;
        font-size: 30px;
        letter-spacing:0.3px;
        color: var(--text-dark);
        line-height: 200%;
    }
    .card p{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: center;
        line-height: 200%;
        color: var(--text-blue);
    }

    .register{
        max-width: 331px ;
        width: 100%;
        height: 53px;
        margin: 0px auto;
        border-radius: 15px;
        background: var(--bg-main);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .register .l,
    .register .r{
        max-width: 159px;
        width:100%;
        height: 41px;
        border-radius: 10px;
        text-align: center;
        margin: 0 12px;
    }

    .register a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 200%;
        color: #0049B2;
    }
    .register .active{
        background: #B2D2FF;
        box-shadow: 1px 1px 7px #9BC2FD78;
    }
    .form{
        max-width: 331px;
        width: 100%;
        height: 500px;
        margin: 25px auto 0 auto;
    }
    .form .form-1{
       max-width: 331px;
        width: 100%;
        height: 105px;
        margin-top: 15px ;
        display: block;
        border-radius:0px;
        align-items: center;
        
    }
    .form-1 label{
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.3px;
        line-height: 200%;
        color: var(--text-dark);
    }

    .form-1 input{
        max-width: 331px;
        width: 100%;
        height: 55px;
        border-radius: 15px;
        border: 1px solid var(--border);
        padding: 17px 20px 17px 20px;
        gap: 10px;
        background: var(--bg-main);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.3px;
        line-height: 200%;
    }

    .button{
        max-width:268px ;
        width: 100% ;
        height: 58px;
        margin: 20px auto 0px auto;
        background: var(--primary);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .error{
        text-align: center;
        margin-top: 5px;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.3px;
        line-height: 200%;
        color: var(--error);
        margin-top: 100px;
    }

    .error-input{
        border:2px solid var(--error) !important;
    }

    .conteaner-login{
        max-width:362px ;
        width:100%;
        height: 694px ;
        background: var(--bg-card);
        border-radius: 20px;
        margin: 0px auto;
    }

    .form-login{
        max-width:331px;
        width: 100%;
        height: 200px;
        margin: 17px auto 0px auto;
    }

    .form-login .form-l{
        max-width:331px;
        width: 100%;
        height: 105px;
        margin-top: 15px ;
        border-radius: 0px;
        display:block;
        align-items: center;
    }

    .form-l label{
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.3px;
        line-height: 200%;
        color: var(--text-dark);
    }

    .form-l input{
        max-width:331px;
        width: 100%;
        height: 55px;
        border-radius: 15px;
        border: 1px solid var(--border);
        padding: 17px 20px 17px 20px;
        gap: 10px;
        background: var(--bg-main);
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.3px;
        line-height: 200%;
    }
}